<div class="row">
    <div class="col-md-12">
        <div class="input-group">
            <input class="form-control border-end-0 border" type="search" value="search" [(ngModel)]="searchText" (ngModelChange)="onSearchtextChange($event)">
            <span class="input-group-append">
                <button class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border ms-n5" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</div>