.header {
    background: #34373F;
    padding: 3px 10px;
}

.website-logo {
    font-family: 'InterNormal';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #ACBEFF;
}

.nav-link {
    font-family: 'InterNormal';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.navbar-toggler {
    background-color: #FFFFFF;
}