<div class="footer">
    <div class="d-flex justify-content-between px-5 py-2">
        <div class="footer-text">
            <div >www.website.com</div>
            <div class="copyright-text">© All right Reserved. Inspired Codes... </div>
        </div>
        <div class="nav-links">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link footer-text" aria-current="page" href="#">Contact Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link footer-text" href="#">Rule and Policy</a>
                              </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>