.footer {
    background-color: #34373F;
}

.footer-text {
    font-family: 'InterNormal';
    font-style: normal;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    +.copyright-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
}