<div class="main">
    <div class="child d-md-block d-sm-none" style="flex: 0 0 18rem;">
        <div>
            <app-category-filter [categories]="categories" (onCategorySelect)="filterByCategory($event)">
            </app-category-filter>
        </div>
        <div class="mt-5">
            <npn-slider [min]="0" [max]="1000" [step]="1" (onChange)="onSliderChange($event)"></npn-slider>
        </div>
    </div>
    <div class="child content">
        <app-product-list [products]="paginatedRecords" [totalRecords]="filteredProducts.length || 0"
            (paginate)="showPaginatedRecords($event)" (onProductSort)="paginateSortedProducts($event)">
        </app-product-list>
    </div>
</div>